@use "../../styles/variables.scss" as *;

.button {
  background-color: $color-primary;
  color: $color-blank;
  padding: 12px 18px;
  border-radius: 6px;
  font-weight: 600;
  transition: transform 0.2s ease;
}
