$color-primary: #5D6AFB ;
$color-danger: #e74c3c;
$color-success: #2ecc71;
$color-text:  #371e68;
$color-bg: #1d1136;
$color-border:  #371e68a1;
$color-border-rgba:  #371e6834;

$color-blank: #fff;

$primary-color-rgba: rgba(93, 106, 251, 0.041);

$font-main: 'Montserrat', sans-serif;
$error-font-size: 14px; 
$error-font-weight: 500;
