@use "../../../styles/variables.scss" as *;

.rangeContainer {
  margin: 30px 0;
}

.rangeInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;

  span {
    color: $color-primary;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    @media (max-width: 480px) {
      margin-left: 0;
    }
  }
}

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 55%;
  height: 9px;
  border-radius: 4px;
  background: $color-blank;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
  border: 1px solid $color-border;

  &:hover {
    background: $color-border-rgba;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 20px;
    border-radius: 25%;
    background: $color-text;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background 0.2s ease;

    &:hover {
      transform: scale(1.1);
      background: #4c59e6;
    }
  }
  &::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #5d6afb;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background 0.2s ease;

    &:hover {
      transform: scale(1.1);
      background: #4c59e6;
    }
  }
    @media (max-width: 480px) {
      width: 40%;
      align-self: self-start;
    }
}

.error {
  color: $color-danger;
  font-size: $error-font-size;
  font-weight: $error-font-weight;
  margin-top: 5px;
}
